body{
    margin: 0;
    background-color: rgb(1, 1, 19);
}
.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    align-content: flex-start;
    gap: 20px;
}
.project{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 30);

    /* border: 2px solid rgb(234, 233, 233); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.project:hover{
    background-color: rgb(35, 35, 39);

}
.title{
    color: white;
    font-size: 1.2rem;
}

.folderIcon{
    width: 130px;
    height:130px;
}