body{
    margin: 0;
    background-color: rgb(1, 1, 19);
}
.navBar{
    width: 100%;
    height: 56px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(14, 2, 83);
}
.account{
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 20px;
    margin-top:10px;
    align-items: center;
    background-color: rgb(25, 11, 38);
    position: relative;
    border-radius: 20px;
}
.account:hover{
    cursor: pointer;
}
.account-detail-container{
    visibility:hidden;
    background-color: rgb(69, 69, 69);
    position: absolute;
    bottom: -82px;
    right: 1px;
    border-radius: 10px;
}
.shower{
    padding: 10px;
    display: flex;
}
.email{
    padding: 10px;
    border-bottom:2px solid black;
}
h4{
    margin: 0px;
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    /* margin-right: 20px; */
}
.logoutLogo{
    width: 25px;
    height: 25px;
}
#logoutTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}
#logoutTitle{
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    align-content: flex-start;
    gap: 20px;
}
.project{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 3, 47);

    /* border: 2px solid rgb(234, 233, 233); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.project:hover{
    background-color: rgb(35, 35, 39);

}
.title{
    color: white;
    font-size: 1.2rem;
}

.folderIcon{
    width: 130px;
    height:130px;
}